* {
    box-sizing: border-box;
}

body {
    background-color: $themeBG;
    font-family: $appFontFamily;
}

h1 {
    font-size: $fontSizeXtraLarge;
    font-weight: $fontWeightBold;
    margin-top: 0;
    margin-bottom: 30px;
}

h3 {
    font-size: $fontSizeMedium;
    margin-top: 0;
    margin-bottom: 21px;
}

p {
    font-weight: $fontWeightRegular;
    margin-top: 0;
}

.mt-auto {
    margin-top: auto;
}

ul {
    margin: 0;
    padding-left: 0;
}

ul.normal-list {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer;
}
button:focus{
    outline:none;
}
.h-100 {
    height: 100%;
}

.visible-xs {
    display: none !important;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.d-flex {
    @include flexbox;
}

.d-inline-flex {
    @include inline-flex;
}

.flex-row {
    @include flex-direction(row);
}

.flex-column {
    @include flex-direction(column);
}

.flex-wrap {
    @include flex-wrap(wrap)
}

.justify-content-start {
    @include justify-content(flex-start)
}

.justify-content-end {
    @include justify-content(flex-end)
}

.justify-content-center {
    @include justify-content(center)
}

.justify-content-between {
    @include justify-content(space-between)
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.text-right {
    text-align: right;
}

.flex-1 {
    flex: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.styles_modal__gNwvD {
    max-width: 450px;
    width: 100%;
    h3 {
        color: $greyTxtColor;
    }
}

@media only screen and (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .visible-lg {
        display: none;
    }
}