@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700');
// Font Weight Variables
$appFontFamily: 'IBM Plex Sans',
sans-serif;
$fontWeightLight:300;
$fontWeightRegular:400;
$fontWeightMedium:500;
$fontWeightSemiBold:600;
$fontWeightBold:700;
// Asset Path variable
$assetPath: "./assets/images";
// Text font size variable
$fontSizeXtraLarge:24px;
$fontSizeLarge:18px;
$fontSizeMedium:16px;
$fontSizeSmall:14px;